target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
### Build Output ###
# 排除所有模块下的编译输出文件夹
**/target/
bin/

### Log Files ###
# 之后你运行 sample 测试时产生的日志文件
*.log
logs/

### Backup Files ###
# 备份文件
*.bak
*.tmp

### Windows ###
# Windows 系统的缩略图缓存
Thumbs.db

### Project Specific ###
.temp/